<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

 ## Lab 2: Data wrangling

Estimated time needed: **60** minutes

In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models. 

In the data set, there are several different cases where the booster did not land successfully. Sometimes a landing was attempted but failed due to an accident; for example, <code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully landed on  a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed on a drone ship. 

In this lab we will mainly convert those outcomes into Training Labels with `1` means the booster successfully landed `0` means it was unsuccessful.

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

## Objectives
Perform exploratory  Data Analysis and determine Training Labels 

- Exploratory Data Analysis
- Determine Training Labels

----

Install the below libraries

In [1]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 153.6 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 159.6 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.2 tzdata-2025.2
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (2.3.2)

## Import Libraries and Define Auxiliary Functions

We will import the following libraries.

In [2]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

### Data Analysis

Load Space X dataset, from last section.

In [3]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identify and calculate the percentage of the missing values in each attribute

In [4]:
df.isnull().sum()/len(df)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

Identify which columns are numerical and categorical:

In [5]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

The data contains several Space X  launch facilities: <a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites'>Cape Canaveral Space</a> Launch Complex 40  <b>VAFB SLC 4E </b> , Vandenberg Air Force Base Space Launch Complex 4E <b>(SLC-4E)</b>, Kennedy Space Center Launch Complex 39A <b>KSC LC 39A </b>.The location of each Launch Is placed in the column <code>LaunchSite</code>

Next, let's see the number of launches for each site.

Use the method  <code>value_counts()</code> on the column <code>LaunchSite</code> to determine the number of launches  on each site:

In [6]:
# Apply value_counts() on column LaunchSite
df['LaunchSite'].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

Each launch aims to an dedicated orbit, and here are some common orbit types:



* <b>LEO</b>: Low Earth orbit (LEO)is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less (approximately one-third of the radius of Earth),[1] or with at least 11.25 periods per day (an orbital period of 128 minutes or less) and an eccentricity less than 0.25.[2] Most of the manmade objects in outer space are in LEO <a href='https://en.wikipedia.org/wiki/Low_Earth_orbit'>[1]</a>.

* <b>VLEO</b>: Very Low Earth Orbits (VLEO) can be defined as the orbits with a mean altitude below 450 km. Operating in these orbits can provide a number of benefits to Earth observation spacecraft as the spacecraft operates closer to the observation<a href='https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges'>[2]</a>.


* <b>GTO</b>(Geostationary Transfer Orbit): A geostationary transfer orbit is an elliptical Earth orbit used to transfer satellites from low Earth orbit (LEO) to geostationary orbit (GEO). In a GTO, the perigee (closest point to Earth) is much lower than GEO altitude, while the apogee (farthest point) reaches approximately 22,236 miles (35,786 kilometers) above Earth’s equator — the altitude of a geostationary orbit. Satellites in GTO use onboard propulsion to circularize their orbit at GEO altitude, where they can provide services such as weather monitoring, communications, and surveillance. <a  href="https://www.space.com/29222-geosynchronous-orbit.html" >[3] </a>.


* <b>SSO (or SO)</b>: It is a Sun-synchronous orbit  also called a heliosynchronous orbit is a nearly polar orbit around a planet, in which the satellite passes over any given point of the planet's surface at the same local mean solar time <a href="https://en.wikipedia.org/wiki/Sun-synchronous_orbit">[4] <a>.
    
    
    
* <b>ES-L1 </b>:At the Lagrange points the gravitational forces of the two large bodies cancel out in such a way that a small object placed in orbit there is in equilibrium relative to the center of mass of the large bodies. L1 is one such point between the sun and the earth <a href="https://en.wikipedia.org/wiki/Lagrange_point#L1_point">[5]</a> .
    
    
* <b>HEO</b> A highly elliptical orbit, is an elliptic orbit with high eccentricity, usually referring to one around Earth <a href="https://en.wikipedia.org/wiki/Highly_elliptical_orbit">[6]</a>.


* <b> ISS </b> A modular space station (habitable artificial satellite) in low Earth orbit. It is a multinational collaborative project between five participating space agencies: NASA (United States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada)<a href="https://en.wikipedia.org/wiki/International_Space_Station"> [7] </a>


* <b> MEO </b> Geocentric orbits ranging in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 kilometers (22,236 mi). Also known as an intermediate circular orbit. These are "most commonly at 20,200 kilometers (12,600 mi), or 20,650 kilometers (12,830 mi), with an orbital period of 12 hours <a href="https://en.wikipedia.org/wiki/List_of_orbits"> [8] </a>


* <b> HEO </b> Geocentric orbits above the altitude of geosynchronous orbit (35,786 km or 22,236 mi) <a href="https://en.wikipedia.org/wiki/List_of_orbits"> [9] </a>


* <b> GEO </b> It is a circular geosynchronous orbit 35,786 kilometres (22,236 miles) above Earth's equator and following the direction of Earth's rotation <a href="https://en.wikipedia.org/wiki/Geostationary_orbit"> [10] </a>


* <b> PO </b> It is one type of satellites in which a satellite passes above or nearly above both poles of the body being orbited (usually a planet such as the Earth <a href="https://en.wikipedia.org/wiki/Polar_orbit"> [11] </a>

some are shown in the following plot:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

### TASK 2: Calculate the number and occurrence of each orbit

 Use the method  <code>.value_counts()</code> to determine the number and occurrence of each orbit in the  column <code>Orbit</code>


Note: Do not count GTO, as it is a transfer orbit and not itself geostationary.

In [7]:
# Apply value_counts on Orbit column
df['Orbit'].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
HEO       1
ES-L1     1
SO        1
GEO       1
Name: count, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome of the orbits

Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.

In [31]:
# landing_outcomes = values on Outcome column
landing_outcomes = df['Outcome'].value_counts()
print(landing_outcomes)

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

<code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully  landed to a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed to a drone ship. <code>None ASDS</code> and <code>None None</code> these represent a failure to land.

In [12]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

We create a set of outcomes where the second stage did not land successfully:

In [32]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes
print(outcome)

1

### TASK 4: Create a landing outcome label from Outcome column

Using the <code>Outcome</code>,  create a list where the element is zero if the corresponding  row  in  <code>Outcome</code> is in the set <code>bad_outcome</code>; otherwise, it's one. Then assign it to the variable <code>landing_class</code>:

In [39]:
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
landing_class = []
for row in df['Outcome']:
    if row in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

print(len(landing_class))

90

This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the  first stage did not land successfully; one means  the first stage landed Successfully

In [40]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [41]:
df.head(5)

    FlightNumber        Date BoosterVersion   PayloadMass  Orbit  \
6              7  2014-04-18       Falcon 9   2296.000000    ISS
7              8  2014-07-14       Falcon 9   1316.000000    LEO
12            13  2015-02-11       Falcon 9    570.000000  ES-L1
16            17  2015-12-22       Falcon 9   2034.000000    LEO
19            20  2016-04-08       Falcon 9   3136.000000    ISS
20            21  2016-05-06       Falcon 9   4696.000000    GTO
21            22  2016-05-27       Falcon 9   3100.000000    GTO
22            23  2016-07-18       Falcon 9   2257.000000    ISS
23            24  2016-08-14       Falcon 9   4600.000000    GTO
25            26  2017-01-14       Falcon 9   9600.000000     PO
26            27  2017-02-19       Falcon 9   2490.000000    ISS
28            29  2017-03-30       Falcon 9   5300.000000    GTO
29            30  2017-05-01       Falcon 9   6104.959412    LEO
31            32  2017-06-03       Falcon 9   2708.000000    ISS
32            33  2017-06-23       Falcon 9   3669.000000    GTO
33            34  2017-06-25       Falcon 9   9600.000000     PO
35            36  2017-08-14       Falcon 9   2910.000000    ISS
36            37  2017-08-24       Falcon 9    475.000000    SSO
37            38  2017-09-07       Falcon 9   4990.000000    LEO
38            39  2017-10-09       Falcon 9   9600.000000     PO
39            40  2017-10-11       Falcon 9   5200.000000    GTO
40            41  2017-10-30       Falcon 9   3700.000000    GTO
41            42  2017-12-15       Falcon 9   2205.000000    ISS
42            43  2017-12-23       Falcon 9   9600.000000     PO
43            44  2018-01-08       Falcon 9   6104.959412    LEO
44            45  2018-01-31       Falcon 9   4230.000000    GTO
48            49  2018-04-18       Falcon 9    350.000000    HEO
49            50  2018-05-11       Falcon 9   3750.000000    GTO
52            53  2018-07-22       Falcon 9   7076.000000    GTO
53            54  2018-07-25       Falcon 9   9600.000000     PO
54            55  2018-08-07       Falcon 9   5800.000000    GTO
55            56  2018-09-10       Falcon 9   7060.000000    GTO
56            57  2018-10-08       Falcon 9   2800.000000    SSO
57            58  2018-11-15       Falcon 9   3000.000000    GTO
58            59  2018-12-03       Falcon 9   4000.000000    SSO
61            62  2019-01-11       Falcon 9   9600.000000     PO
62            63  2019-03-02       Falcon 9  12259.000000    ISS
63            64  2019-05-04       Falcon 9   2482.000000    ISS
64            65  2019-05-24       Falcon 9  13620.000000   VLEO
65            66  2019-06-12       Falcon 9   1425.000000    SSO
66            67  2019-07-25       Falcon 9   2227.700000    ISS
68            69  2019-11-11       Falcon 9  15600.000000   VLEO
69            70  2019-12-05       Falcon 9   5000.000000    ISS
70            71  2019-12-17       Falcon 9   6800.000000    GTO
71            72  2020-01-07       Falcon 9  15400.000000   VLEO
73            74  2020-01-29       Falcon 9  15600.000000   VLEO
75            76  2020-03-07       Falcon 9   1977.000000    ISS
77            78  2020-04-22       Falcon 9  15400.000000   VLEO
78            79  2020-05-30       Falcon 9   9525.000000    ISS
79            80  2020-06-04       Falcon 9  15400.000000   VLEO
80            81  2020-06-13       Falcon 9  15400.000000   VLEO
81            82  2020-06-30       Falcon 9   3880.000000    MEO
82            83  2020-07-20       Falcon 9   6104.959412    GEO
83            84  2020-08-18       Falcon 9  15400.000000   VLEO
84            85  2020-08-30       Falcon 9   1600.000000    SSO
85            86  2020-09-03       Falcon 9  15400.000000   VLEO
86            87  2020-10-06       Falcon 9  15400.000000   VLEO
87            88  2020-10-18       Falcon 9  15400.000000   VLEO
88            89  2020-10-24       Falcon 9  15400.000000   VLEO
89            90  2020-11-05       Falcon 9   3681.000000    MEO

      LaunchSite     Outcome  Flights  GridFins  Reused   Legs  \
6   CCAFS SLC 40  True Ocean        1     False   False   True
7   CCAFS SLC 40  True Ocean        1     False   False   True
12  CCAFS SLC 40  True Ocean        1      True   False   True
16  CCAFS SLC 40   True RTLS        1      True   False   True
19  CCAFS SLC 40   True ASDS        1      True   False   True
20  CCAFS SLC 40   True ASDS        1      True   False   True
21  CCAFS SLC 40   True ASDS        1      True   False   True
22  CCAFS SLC 40   True RTLS        1      True   False   True
23  CCAFS SLC 40   True ASDS        1      True   False   True
25   VAFB SLC 4E   True ASDS        1      True   False   True
26    KSC LC 39A   True RTLS        1      True   False   True
28    KSC LC 39A   True ASDS        2      True    True   True
29    KSC LC 39A   True RTLS        1      True   False   True
31    KSC LC 39A   True RTLS        1      True   False   True
32    KSC LC 39A   True ASDS        2      True    True   True
33   VAFB SLC 4E   True ASDS        1      True   False   True
35    KSC LC 39A   True RTLS        1      True   False   True
36   VAFB SLC 4E   True ASDS        1      True   False   True
37    KSC LC 39A   True RTLS        1      True   False   True
38   VAFB SLC 4E   True ASDS        1      True   False   True
39    KSC LC 39A   True ASDS        2      True    True   True
40    KSC LC 39A   True ASDS        1      True   False   True
41  CCAFS SLC 40   True RTLS        2      True    True   True
42   VAFB SLC 4E  True Ocean        2      True    True  False
43  CCAFS SLC 40   True RTLS        1      True   False   True
44  CCAFS SLC 40  True Ocean        2      True    True   True
48  CCAFS SLC 40   True ASDS        1      True   False   True
49    KSC LC 39A   True ASDS        1      True   False   True
52  CCAFS SLC 40   True ASDS        1      True   False   True
53   VAFB SLC 4E   True ASDS        1      True   False   True
54  CCAFS SLC 40   True ASDS        2      True    True   True
55  CCAFS SLC 40   True ASDS        1      True   False   True
56   VAFB SLC 4E   True RTLS        2      True    True   True
57    KSC LC 39A   True ASDS        2      True    True   True
58   VAFB SLC 4E   True ASDS        3      True    True   True
61   VAFB SLC 4E   True ASDS        2      True    True   True
62    KSC LC 39A   True ASDS        1      True   False   True
63  CCAFS SLC 40   True ASDS        1      True   False   True
64  CCAFS SLC 40   True ASDS        3      True    True   True
65   VAFB SLC 4E   True RTLS        2      True    True   True
66  CCAFS SLC 40   True RTLS        2      True    True   True
68  CCAFS SLC 40   True ASDS        4      True    True   True
69  CCAFS SLC 40   True ASDS        1      True   False   True
70  CCAFS SLC 40   True ASDS        3      True    True   True
71  CCAFS SLC 40   True ASDS        4      True    True   True
73  CCAFS SLC 40   True ASDS        3      True    True   True
75  CCAFS SLC 40   True RTLS        2      True    True   True
77    KSC LC 39A   True ASDS        4      True    True   True
78    KSC LC 39A   True ASDS        1      True   False   True
79  CCAFS SLC 40   True ASDS        5      True    True   True
80  CCAFS SLC 40   True ASDS        3      True    True   True
81  CCAFS SLC 40   True ASDS        1      True   False   True
82  CCAFS SLC 40   True ASDS        2      True    True   True
83  CCAFS SLC 40   True ASDS        6      True    True   True
84  CCAFS SLC 40   True RTLS        4      True    True   True
85    KSC LC 39A   True ASDS        2      True    True   True
86    KSC LC 39A   True ASDS        3      True    True   True
87    KSC LC 39A   True ASDS        6      True    True   True
88  CCAFS SLC 40   True ASDS        3      True    True   True
89  CCAFS SLC 40   True ASDS        1      True   False   True

                  LandingPad  Block  ReusedCount Serial   Longitude  \
6                        NaN    1.0            0  B1006  -80.577366
7                        NaN    1.0            0  B1007  -80.577366
12                       NaN    1.0            0  B1013  -80.577366
16  5e9e3032383ecb267a34e7c7    1.0            0  B1019  -80.577366
19  5e9e3032383ecb6bb234e7ca    2.0            1  B1021  -80.577366
20  5e9e3032383ecb6bb234e7ca    2.0            0  B1022  -80.577366
21  5e9e3032383ecb6bb234e7ca    2.0            1  B1023  -80.577366
22  5e9e3032383ecb267a34e7c7    2.0            1  B1025  -80.577366
23  5e9e3032383ecb6bb234e7ca    2.0            0  B1026  -80.577366
25  5e9e3033383ecbb9e534e7cc    3.0            1  B1029 -120.610829
26  5e9e3032383ecb267a34e7c7    3.0            1  B1031  -80.603956
28  5e9e3032383ecb6bb234e7ca    2.0            1  B1021  -80.603956
29  5e9e3032383ecb267a34e7c7    3.0            1  B1032  -80.603956
31  5e9e3032383ecb267a34e7c7    3.0            1  B1035  -80.603956
32  5e9e3032383ecb6bb234e7ca    3.0            1  B1029  -80.603956
33  5e9e3033383ecbb9e534e7cc    3.0            1  B1036 -120.610829
35  5e9e3032383ecb267a34e7c7    4.0            1  B1039  -80.603956
36  5e9e3033383ecbb9e534e7cc    3.0            1  B1038 -120.610829
37  5e9e3032383ecb267a34e7c7    4.0            1  B1040  -80.603956
38  5e9e3033383ecbb9e534e7cc    4.0            1  B1041 -120.610829
39  5e9e3032383ecb6bb234e7ca    3.0            1  B1031  -80.603956
40  5e9e3032383ecb6bb234e7ca    4.0            0  B1042  -80.603956
41  5e9e3032383ecb267a34e7c7    3.0            1  B1035  -80.577366
42                       NaN    3.0            1  B1036 -120.610829
43  5e9e3032383ecb267a34e7c7    4.0            1  B1043  -80.577366
44                       NaN    3.0            1  B1032  -80.577366
48  5e9e3032383ecb6bb234e7ca    4.0            1  B1045  -80.577366
49  5e9e3032383ecb6bb234e7ca    5.0            3  B1046  -80.603956
52  5e9e3032383ecb6bb234e7ca    5.0            2  B1047  -80.577366
53  5e9e3033383ecbb9e534e7cc    5.0            4  B1048 -120.610829
54  5e9e3032383ecb6bb234e7ca    5.0            3  B1046  -80.577366
55  5e9e3032383ecb6bb234e7ca    5.0            5  B1049  -80.577366
56  5e9e3032383ecb554034e7c9    5.0            4  B1048 -120.610829
57  5e9e3032383ecb6bb234e7ca    5.0            2  B1047  -80.603956
58  5e9e3033383ecbb9e534e7cc    5.0            3  B1046 -120.610829
61  5e9e3033383ecbb9e534e7cc    5.0            5  B1049 -120.610829
62  5e9e3032383ecb6bb234e7ca    5.0            5  B1051  -80.603956
63  5e9e3032383ecb6bb234e7ca    5.0            3  B1056  -80.577366
64  5e9e3032383ecb6bb234e7ca    5.0            5  B1049  -80.577366
65  5e9e3032383ecb554034e7c9    5.0            5  B1051 -120.610829
66  5e9e3032383ecb267a34e7c7    5.0            3  B1056  -80.577366
68  5e9e3032383ecb6bb234e7ca    5.0            4  B1048  -80.577366
69  5e9e3032383ecb6bb234e7ca    5.0            3  B1059  -80.577366
70  5e9e3032383ecb6bb234e7ca    5.0            3  B1056  -80.577366
71  5e9e3032383ecb6bb234e7ca    5.0            5  B1049  -80.577366
73  5e9e3032383ecb6bb234e7ca    5.0            5  B1051  -80.577366
75  5e9e3032383ecb267a34e7c7    5.0            3  B1059  -80.577366
77  5e9e3032383ecb6bb234e7ca    5.0            5  B1051  -80.603956
78  5e9e3032383ecb6bb234e7ca    5.0            2  B1058  -80.603956
79  5e9e3033383ecbb9e534e7cc    5.0            5  B1049  -80.577366
80  5e9e3032383ecb6bb234e7ca    5.0            3  B1059  -80.577366
81  5e9e3033383ecbb9e534e7cc    5.0            2  B1060  -80.577366
82  5e9e3033383ecbb9e534e7cc    5.0            2  B1058  -80.577366
83  5e9e3032383ecb6bb234e7ca    5.0            5  B1049  -80.577366
84  5e9e3032383ecb267a34e7c7    5.0            3  B1059  -80.577366
85  5e9e3032383ecb6bb234e7ca    5.0            2  B1060  -80.603956
86  5e9e3032383ecb6bb234e7ca    5.0            2  B1058  -80.603956
87  5e9e3032383ecb6bb234e7ca    5.0            5  B1051  -80.603956
88  5e9e3033383ecbb9e534e7cc    5.0            2  B1060  -80.577366
89  5e9e3032383ecb6bb234e7ca    5.0            0  B1062  -80.577366

     Latitude  Class
6   28.561857      1
7   28.561857      1
12  28.561857      1
16  28.561857      1
19  28.561857      1
20  28.561857      1
21  28.561857      1
22  28.561857      1
23  28.561857      1
25  34.632093      1
26  28.608058      1
28  28.608058      1
29  28.608058      1
31  28.608058      1
32  28.608058      1
33  34.632093      1
35  28.608058      1
36  34.632093      1
37  28.608058      1
38  34.632093      1
39  28.608058      1
40  28.608058      1
41  28.561857      1
42  34.632093      1
43  28.561857      1
44  28.561857      1
48  28.561857      1
49  28.608058      1
52  28.561857      1
53  34.632093      1
54  28.561857      1
55  28.561857      1
56  34.632093      1
57  28.608058      1
58  34.632093      1
61  34.632093      1
62  28.608058      1
63  28.561857      1
64  28.561857      1
65  34.632093      1
66  28.561857      1
68  28.561857      1
69  28.561857      1
70  28.561857      1
71  28.561857      1
73  28.561857      1
75  28.561857      1
77  28.608058      1
78  28.608058      1
79  28.561857      1
80  28.561857      1
81  28.561857      1
82  28.561857      1
83  28.561857      1
84  28.561857      1
85  28.608058      1
86  28.608058      1
87  28.608058      1
88  28.561857      1
89  28.561857      1

We can use the following line of code to determine  the success rate:

In [20]:
df["Class"].mean()

np.float64(0.0)

We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

<code>df.to_csv("dataset_part_2.csv", index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

<a href="https://www.linkedin.com/in/nayefaboutayoun/">Nayef Abou Tayoun</a> is a Data Scientist at IBM and pursuing a Master of Management in Artificial intelligence degree at Queen's University.

<!--
## Change Log
-->

<!--
| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-08-31        | 1.1     | Lakshmi Holla    | Changed Markdown |
| 2020-09-20        | 1.0     | Joseph     | Modified Multiple Areas |
| 2020-11-04        | 1.1.    | Nayef      | updating the input data |
| 2021-05-026       | 1.1.    | Joseph      | updating the input data |
-->

Copyright © 2021 IBM Corporation. All rights reserved.